{% extends 'main/base.html' %}

{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
        <main>
        <section class="content">
            <h2>Добро пожаловать на портал Самосирских услуг!</h2>
            <p1>На острове Самосир Вы сможете укрыться от ужасных последствий Третьей мировой войны, а также провести время с кайфом жи ес!</p1>
            <br><img src="{% static 'main\main3.jpg' %}" height="175"><img src="{% static 'main\main2.jpg' %}" height="175" >
            <br>
            <p1>Владислав Поздняков - патриот, "наш слон" и просто отличный мужчина. Именно он придумал переезжать на остров Самосир, что бы спастись от ядерки и ее последствий. Владислав точно продумал все, поэтому мы также считаем Самосир - лучшим вариантом. Здесь красивая природа, крутое море, добрые люди и много всего. Каждый найдет для себя что нибудь по душе.</p1>
            <p><br><br></p>

            <img src="{% static 'main\main4.png' %}" height="175">
            <img src="{% static 'main\main5.gif' %}" height="175">
            <img src="{% static 'main\main5.png' %}" height="175">
            <p><br><br></p>
        </section>

        <section class="extra-content">
            <video width="320" height="600" controls>
                <source src="{% static 'main\trailer.mp4' %}" type="video/mp4">
            </video>
        </section>
    </main>
{% endblock %}