{% extends 'main/base.html' %}


{% block title %}Места размещений{% endblock %}

{% block content %}
    <h1>Информация об отелях на острове Самосир</h1>
    <ul>
        {% for shelter in all_shelters %}
            <div class="hotel-info">
                <div class="carousel">
                    <div class="carousel-images">

                        <img src="hotel1-1.jpg" alt="Отель Солнечный 1">
                        <img src="hotel1-2.jpg" alt="Отель Солнечный 2">
                        <img src="hotel1-3.jpg" alt="Отель Солнечный 3">
                    </div>
                    <button class="carousel-button left" onclick="moveCarousel('left', 0)">‹</button>
                    <button class="carousel-button right" onclick="moveCarousel('right', 0)">›</button>
                </div>
                <div>
                    <h3><a href="{% url 'main:shelter' shelter.shelter_slug %}">{{ shelter.shelter_name }}</a></h3>
                    <p>Тип: {{ shelter.type }}</p>
                    <p>Месторасположение: {{ shelter.placement }}</p>
                    <p>Описание: {{ shelter.description }}</p>
                    <p>Стоимость: {{ shelter.price }}</p>
                    <p>Рейтинг: {{ shelter.rate }}</p>
                </div>
            </div>
        {% empty %}
            <li>
                <h3>На данный момент нет мест размещений</h3>
            </li>
        {% endfor %}

    </ul>

    <script>
        let currentImageIndex = 0;

        function moveCarousel(direction) {
            const images = document.querySelector('.carousel-images');
            const totalImages = images.children.length;
            const imageWidth = images.children[0].offsetWidth; // Ширина изображения

            if (direction === 'left') {
                currentImageIndex--;
                if (currentImageIndex < 0) {
                    currentImageIndex = totalImages - 1; // Вернуться к последнему изображению
                }
            } else {
                currentImageIndex++;
                if (currentImageIndex >= totalImages) {
                    currentImageIndex = 0; // Вернуться к первому изображению
                }
            }

            const newTransform = -currentImageIndex * imageWidth;
            images.style.transform = `translateX(${newTransform}px)`;
        }
    </script>
{% endblock %}