{% extends 'main/base.html' %}


{% block title %}Места размещений{% endblock %}

{% block content %}
    <h1>Информация об отелях на острове Самосир</h1>
    <ul>
        {% for shelter in all_shelters %}
            <div class="hotel-info">
                <div class="carousel">
                    <div class="carousel-images">
                        {% for photo in photos %}
                            {% if photo.shelter == shelter %}
                                <img src="{{ photo.photo.url }}" alt="{{ photo.shelter.name }}">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <h3><a href="{% url 'main:shelter' shelter.shelter_slug %}">{{ shelter.shelter_name }}</a></h3>
                    <p>Тип: {{ shelter.type }}</p>
                    <p>Месторасположение: {{ shelter.placement }}</p>
                    <p>Описание: {{ shelter.description }}</p>
                    <p>Стоимость: {{ shelter.price }}</p>
                    <p>Рейтинг: {{ shelter.rate }}</p>
                </div>
            </div>
        {% empty %}
            <li>
                <h3>На данный момент нет мест размещений</h3>
            </li>
        {% endfor %}
        <br><br><br><br><br><br><br><br>
    </ul>

<script>
        function moveCarousel(direction, index) {
            const carousel = document.querySelectorAll('.carousel-images')[index];
            const totalImages = carousel.children.length;
            let currentTransform = parseInt(window.getComputedStyle(carousel).transform.split(',')[4] || 0);
            const imageWidth = carousel.children[0].offsetWidth; // Убираем отступы между картинками
            let newTransform;

            if (direction === 'left') {
                newTransform = currentTransform + imageWidth;
                if (newTransform > 0) newTransform = -imageWidth * (totalImages - 1); // цикл карусели
            } else {
                newTransform = currentTransform - imageWidth;
                if (newTransform < -imageWidth * (totalImages - 1)) newTransform = 0; // цикл карусели
            }

            carousel.style.transform = `translateX(${newTransform}px)`;
        }
    </script>
{% endblock %}