{% extends 'main/base.html' %}

{% block title %}Транспорт{% endblock %}

{% block content %}
    <h1>Информация о транспорте до острова Самосир</h1>
    <ul>
        {% for transport in all_transports %}
            <div class="hotel-info">
                <div class="carousel">
                    <div class="carousel-images">
                        {% for photo in photos %}
                            {% if photo.transport == transport %}
                                <img src="{{ photo.photo.url }}" alt="{{ photo.transport.name }}">
                            {% endif %}
                        {% endfor %}
                    </div>
                    <button class="carousel-button left" onclick="moveCarousel('left', 0)">‹</button>
                    <button class="carousel-button right" onclick="moveCarousel('right', 0)">›</button>
                </div>
                <div>
                    <h3><a href="{% url 'main:shelter' shelter.shelter_slug %}">{{ transport.shelter_name }}</a></h3>
                    <p>Тип: {{ transport.type }}</p>
                    <p>Месторасположение: {{ transport.placement }}</p>
                    <p>Описание: {{ transport.description }}</p>
                    <p>Скорость: {{ transport.speed }}</p>
                    <p>Стоимость: {{ transport.price }}</p>
                    <p>Рейтинг: {{ transport.rate }}</p>
                </div>
            </div>
        {% empty %}
            <li>
                <h3>На данный момент нет транспорта</h3>
            </li>
        {% endfor %}

    </ul>

    <script>
        let currentImageIndex = 0;

        function moveCarousel(direction) {
            const images = document.querySelector('.carousel-images');
            const totalImages = images.children.length;
            const imageWidth = images.children[0].offsetWidth; // Ширина изображения

            if (direction === 'left') {
                currentImageIndex--;
                if (currentImageIndex < 0) {
                    currentImageIndex = totalImages - 1; // Вернуться к последнему изображению
                }
            } else {
                currentImageIndex++;
                if (currentImageIndex >= totalImages) {
                    currentImageIndex = 0; // Вернуться к первому изображению
                }
            }

            const newTransform = -currentImageIndex * imageWidth;
            images.style.transform = `translateX(${newTransform}px)`;
        }
    </script>
{% endblock %}