{% extends 'main/base.html' %}
{% load static %}

{% block title %}Самосируслуги{% endblock %}


{% block content %}

    <main>
        <section class="content">
            <h2>Добро пожаловать на портал Самосирских услуг!</h2>
            <p1>На острове Самосир Вы сможете укрыться от ужасных последствий Третьей мировой войны, а также провести время с кайфом жи ес!</p1>
			<p><br><br><br><br><br><br><br> </p>
        </section>
    </main>

    <!-- Блок с белым фоном и текстом под градиентом -->
    <section class="extra-content">
        <form class="form" action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Войти</button>
            <input type="hidden" name="next" value="{% url 'main:index' %}" />
        </form>
        <p>Ещё нет аккаунта</p>
        <a href="{% url 'users:register' %}">Регистрация</a>
    </section>

{% endblock %}
